*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-dark-color: #1A1C1E;
  --secondary-dark-color: rgba(0, 0, 0, 0.6);
  --primary-dark-text-color: white;
  --item-dark-color: #191A1A;


  --primary-light-color: white;
  --secondary-light-color: rgba(215, 236, 255, 0.6);
  --primary-light-text-color: black;
  --item-light-color: rgba(253, 241, 221, 1);

  --green-shade: rgba(97, 223, 176, 1);
  --blue-shade: rgba(0, 208, 219, 1);

  --mainTextColor: var(--primary-dark-text-color);
  --mainBgColor: var(--primary-dark-color);
  --itemColor: var(--item-dark-color);
  --secondaryColor: var(--secondary-dark-color);
}


html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--mainBgColor);
  color: var(--mainTextColor);
  scroll-behavior: smooth;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* min-height: 100vh; */
  /* min-height: -webkit-fill-available; */
  /* height: 100%; */
  text-overflow: ellipsis;
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #root {
  min-height: 100vh;
} */

p,
a,
li {
  color: var(--mainTextColor) !important;
  font-size: 1em;
}

iframe#webpack-dev-server-client-overlay {
  display: none !important
}

p {
  text-align: justify;
}


footer {
  background-color: var(--secondaryColor);
}

/* Track */
::-webkit-scrollbar {
  width: 8px;
  /* width of the entire scrollbar */
}

button:active {
  transform: scale(0.97);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--green-shade);
  /* color of the scrollbar handle */
  border-radius: 6px;
  /* roundness of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--green-shade);
  /* color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondaryColor);
  /* color of the scrollbar track */
}

/* Handle when it's dragging or being clicked */
::-webkit-scrollbar-thumb:active {
  background-color: var(--green-shade);
  /* color of the scrollbar handle when clicked */
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mc {
    flex-direction: column;
  }

  .background-animation {
    display: none;
  }

  .left {
    width: 60% !important;
  }

  .right {
    width: 100% !important;
  }

  .bahar {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .editor{
    width: 100% !important;
  }
  .output-box{
    height: 100% !important;
    margin-right: 5px !important;
    margin-top: 20px !important;
    border: 1px solid grey !important;
  }
  .metrics-container{
    display: none !important  ;
  }
  .right-container{

    flex-direction: row  !important;
    position: fixed;
    bottom: 0;
    width: 100% !important;
    left: 0;
    
  }
}

@media only screen and (max-width: 1145px) {
  .pfp-menu {
    margin-top: 45px !important;
    right: -5% !important;
  }

  .profile-menu,
  .profile {
    flex-direction: column !important;
  }

  .omg2 {
    margin-right: 0 !important;
  }

  .omg {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }

  .content {
    display: block !important;
    height: 100vh;
  }

  .sidebar {
    display: none !important;
  }
  .create-thread{
    position: fixed !important;
    bottom: 0 !important;
    top:auto !important;
  }

  .main-container {
    padding: 2px !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .text-links {
    font-size: smaller;
  }

  .dropdown {
    margin-bottom: 10px !important;
  }

  .sheets {
    font-size: small;
  }

  .discussion-fliter {
    flex-direction: column !important;
    align-items: flex-start !important;
  }

  .searchBox {
    max-width: 60% !important;
  }

  .thread-title {
    font-size: small;
  }

  .dis-taglist {
    flex-wrap: wrap !important;
  }
}

@media only screen and (max-width:1368px) {
  .text-decoration-underline {
    display: none;
  }

  .parent {
    flex-direction: column;
  }

  .leftpart-auth {
    width: 100% !important;
    height: 40% !important;
  }

  .rightpart-auth {
    margin-top: 30px;
    justify-content: flex-start !important;
    width: 100vw !important;
  }

  .form {
    width: 360px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-height:740px) {

  .drop-in-2,
  .drop-in-3 {
    margin-top: 1px !important;
  }

  .mc {
    margin-top: 0% !important;
    margin-bottom: 0% !important;
  }
}
i:hover{
  opacity: 0.7;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}